{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex">
        <a class="btn btn-primary me-2" href="{{ path('app_product_index') }}">Back to list</a>

        {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
