{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block stylesheets %}
    <style>
        .is-checkbox {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Edit Tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex">
        <a class="btn btn-primary me-2" href="{{ path('app_tag_index') }}">back to list</a>

{#        {{ include('tag/_delete_form.html.twig') }}#}
    </div>

{% endblock %}
